/** Common hero styles */
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-gradient);
  z-index: 0;
}

.hero picture,
.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hero__title,
.hero__description,
.hero__actions,
.hero__logo {
  position: relative;
  z-index: 1;
}

.hero__logo {
  width: 200px;
  height: 91px;

  @media (min-width: 768px) {
    width: 240px;
    height: 109px;
  }

  @media (min-width: 1240px) {
    width: 300px;
    height: 136px;
  }
}

.hero__description {
  font-weight: 400;
  font-size: var(--font-size-xl);

  @media (min-width: 768px) {
    max-width: 1240px;
  }
}

.hero__actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    width: auto;
    flex-direction: row;
  }
}

.hero__btn__scroll-down {
  width: 50px;
  height: 50px;
  background-color: var(--primary-400);
  border-radius: var(--radius-rounded);
  border: 4px solid var(--white);
  cursor: pointer;
  display: grid;
  place-content: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -25px;
  svg {
    width: 24px;
    height: 24px;
    transition: transform ease 0.6s;
  }
  text-decoration: none;
  transition: background-color ease-in 0.6s;
  &:active {
    background-color: var(--primary-200);
    svg {
      transform: translateY(5px);
    }
  }

  @media (min-width: 768px) {
    width: 60px;
    height: 60px;
    svg {
      width: 32px;
      height: 32px;
    }
    bottom: -30px;
  }

  @media (min-width: 1300px) {
    &:hover {
      background-color: var(--primary-200);
      svg {
        transform: translateY(5px);
      }
    }
  }
}
